
.hover1 a:hover{
 color: rgb(147, 199, 248);
 font-weight: bold;}

.hover2 a:active{color: rgb(253, 15, 15);

  font-style:italic;}

 .hover3 a:visited {
  color: rgb(10, 243, 22);
}
input[type=text]:focus{
  color: green;
font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(41, 16, 184);
}

li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}
 a.currentpage :active{
  color: white;
  background-color: #4CAF50;}

li a:hover:not(.active) {
  background-color: rgb(67, 154, 236);
}

.active {
  background-color: #4CAF50;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

input[type=search]:focus {
  border:solid;border-color: aquamarine;

}
nav li:first-child{background-color: rgb(164, 210, 248);}
