

element.style {
  margin: 10 auto;
}
h4{ font-size:40px;
  color:rgb(145, 96, 96);}
.rijtje{
  display: inline-flex;
  width:200px;
  margin:0 auto;
}
.schdw1 {
  background-color:rgb(240, 226, 243);
    border: 3px solid ;
    border-color:rgb(88, 56, 88);
    margin:10 auto;
    box-shadow:5px 7px rgb(69, 40, 80);
  }

p{margin: 0 auto;
  padding-left : 10px;
  padding-right: 30px ;
  padding-bottom:10px ;
padding-top: 10px;
}
h1,h2,h3
{font-family: 'Grandstander', cursive;
color:rgb(102, 71, 131) 30px}
h6
{font-size:40px; font-family: 'Oswald', sans-serif;}
.span{width: 100px;}

.fntwit{ 
  font-family:'Grandstander';
  color: rgb(78, 72, 72);
  font-size: 50px;
text-align: center;}
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 
  
  li a, li {
    display: block;
    color: white;
    text-align: center;
  
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(11, 250, 51);
  }
 
  .center {
    margin:0 auto;
    text-align: center; 
  }

  .center2{
    display: block;
    width:200px;
    margin:0 auto;
  }
 hover { background-color:
     rgb(11, 250, 51);
  }

  @media (min-width: 1024px)
   {
    h1,h2,h3,h5
    {font-family: 'Oswald', cursive;
      color:rgb(217, 238, 186) 
     14px;}
    .schdw1 { 
      color:rgb(217, 238, 186);
      margin: 5px auto;
      background-color:rgb(109, 141, 136);
      border: 2px solid;
      border-color:rgb(103, 134, 128);
      box-shadow:5px 7px rgb(19, 41, 34);}
   
      h6,h5
      {font-size:20px; font-family: 'Oswald', sans-serif;
      color:rgb(217, 238, 186);}
      li a, li {
        display: block;
        color: rgb(85, 27, 27);
        text-align: center;}
        
      }